@use './abstract/index' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: $mainFont;
}

body{ 
    background-color: $VeryLightGray;
    main{
        width: 100%;
    }
}

#container{ 
    width: 100%;
    height: 100vh;
    @include flex(column, flex-start, center, nowrap); 
}

@media (max-width: 768px){
    #container{
        height: auto;
    }
}